<ion-header>
  <ion-toolbar>
    <ion-title>VIEW ALL USERS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="ion-table-container">
          <table>
            <thead>
              <tr>
                <th>Email</th>
                <th>Staff Number</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.email }}</td>
                <td>{{ user.staffNumber }}</td>
                <td>{{ user.role }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
