<ion-header>
  <ion-toolbar>
    <ion-title class="center-title">Document Evaluation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <table>
          <thead>
            <tr>
              <th>Email</th>
              <th>Document Name</th>
              <th>Status</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index" [ngClass]="{'striped-row': i % 2 === 0}">
              <td>{{ item.email }}</td>
              <td>{{ item.documentName }}</td>
              <td>
                <ion-select [(ngModel)]="item.status" (ionChange)="onStatusChange(item)">
                  <ion-select-option value="approved">Approved</ion-select-option>
                  <ion-select-option value="declined">Declined</ion-select-option>
                  <ion-select-option value="suspended">Suspended</ion-select-option>
                </ion-select>
              <td>
                <ion-checkbox [(ngModel)]="item.approved" (ionChange)="onCheckboxChange(item, 'approved')"></ion-checkbox>
              </td>

             
              <td>
                <ion-checkbox [(ngModel)]="item.declined" (ionChange)="onCheckboxChange(item, 'declined')"></ion-checkbox>
              </td>
              <td>
                <ion-checkbox [(ngModel)]="item.suspended" (ionChange)="onCheckboxChange(item, 'suspended')"></ion-checkbox>
              </td>
              <td>
                <ion-input [(ngModel)]="item.comment" placeholder="Add comment" class="comment-input"></ion-input>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="button-group">
          <ion-button class="back-button" (click)="goBack()">Back</ion-button>
          <ion-button class="reset-button" (click)="resetForm()">Reset</ion-button>
          <ion-button class="save-button" (click)="saveChanges()">Save</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
