<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rejection Reason</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rejection Reason</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="form-container">
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">By Who</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Reason</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </div>
</ion-content>
