.container {
  display: flex;
  height: 100%;
}

.div1 {
  margin-top: 90px;
  width: 300px; /* Fixed width for div1 */
  background-color: #662008;
  height: 85%;
  overflow: auto; /* Ensure content can scroll if it overflows */
}

.card1 {
  margin-top: 50px;
  height: 110px;
 
}

.footer1{
 display: flex;
 margin-top: 275px;
  justify-content: space-around; /* Space the buttons evenly */
  padding: 10px; /* Optional: Add some padding for better visual */
  background-color: #662008; /* Ensure footer is visible */
  position: sticky;
}


.div2 {
  flex: 1; /* div2 will take the remaining space */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto; /* Ensure content can scroll if it overflows */
}

.swiper-container-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-button, .next-button {
  position: absolute;
  z-index: 10;
}

.prev-button {
  left: 10px; /* Adjust as needed */
}

.next-button {
  right: 10px; /* Adjust as needed */
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

swiper-slide img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.Card {
  background-color: black;
  height: 290px;
  width: 190px;
  text-align: center;
}
